* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
header {
    display: flex;
}
body {
    overflow: hidden;
    background-image: url('../All/Media/BG1.png');
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a1 {
  position: relative;
  cursor: pointer;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
a1:hover, p:hover{
  color:#fff;
  text-decoration: none;
} 
a1:before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 5px;
  left: -20px;
  background: transparent;
  border-radius: 100%;
}
a1:hover:before {
  background: white;
  width: 10px;
  left: -18px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*Navbar Bahasa*/
.navibar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  color: white;
  font-family: 'Inter';
}
.nav-bahasa {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-top: 68px;
  padding-left: 30px;
  padding-right: 150px;
}
.nav-bahasa li {
  text-decoration: none;
  margin: 0 15px;
}
.nav-bahasa ul li a:hover {
  color: magenta;
}
.menu-items2 {
  font-size: 64px;
  padding-top: 8rem;
  padding-bottom: 3rem;
  padding-left: 70rem;
}
.menu-items2 a:hover {
  font-weight: bolder;
  color: rgb(180, 15, 166);
}

footer1 {
  font-size: 17px;
  padding: 70px 0px 80px 0;
  width: 1600px;
  filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.5));
}
.container5 {
  position: absolute;
  float: left;
  font-size: 18px;
  max-width: 1300px;
  margin: 50px 0 0 150px;
}
.footer-row1 {
  display: flex;
}
.footer-col1 {
  width: 100%;
  height: 100%;
  padding: 25px 20px;
  margin-top: -80px;
}
.alamat1{
  text-align: left;
  width: 500px;
  margin-left: 70px;
}
.tc1{
  width: 700%;
  margin-top: 0px;
  margin-left: -100px;
}
.PriFa1{
  margin-top: 20px;
  margin-left: -180px;
}
.FA1{
  margin-left: 20px;
}
.social-link1 {
  margin-left: -10px;
  margin-right: 20px;
}
.social-link1 a1{
  cursor: pointer;
}
.container6 {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.nav {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.nav .nav-container li {
  list-style: none;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 37px;
  width: 48px;
  top: 40px;
  left: 1060px;
  z-index: 120;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 37px;
  width: 48px;
  position: absolute;
  top: 40px;
  left: 1060px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background: white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 25% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transform-origin: 25% 150%;
  transition: transform 0.4s ease-in-out;
}

.nav .menu-items {
  background-image: url('../All/Media/SideMenu-BG.png');
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  height: 100vh;
  width: fit-content;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  margin-left: -436px;
  padding-left: 0;
  transition: transform 0.5s ease-in-out;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    color: white;
    font-family: 'Inter';
}
.navbar-about {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 60px;
    padding-left: 50px;
}
.navbar-about li {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}
.text1 {
    position: absolute;
    width: 500px;
    height: 96px;
    left: 200px;
    top: 170px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.text1 h3 {
    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2em;
}
.contact {
    font-family: 'Inter';
    padding: 370px 0px 80px 0;
    width: 1600px;
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.5));
}
.container4 {
    font-size: 25px;
    line-height: 29px;
    position: absolute;
    float: left;
    font-size: 18px;
    max-width: 1300px;
    margin: 50px 0 0 180px;
}
.footer-row {
    display: flex;
}
.footer-col {
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    margin-top: -80px;
}
.alamat{
    text-align: left;
    width: 500px;
    margin-left: 70px;
}
.tc{
    width: 700%;
    margin-top: 0px;
    margin-left: -100px;
}
.PriFa{
    margin-top: 29px;
    margin-left: -180px;
}
.FA{
    margin-left: 20px;
}
.social-link {
    margin-left: -10px;
    margin-right: 20px;
}
.garis1 {
    position: absolute;
    width: 1150px;
    height: 0px;
    left: 200px;
    top: 325px;
    border: 2px solid #FFFFFF;
}
.garis2 {
    position: absolute;
    width: 1150px;
    height: 0px;
    left: 200px;
    top: 460px;
    border: 2px solid #FFFFFF;
}

#circle { 
    position: relative; 
    width: 100%;
    height: 5000px;
    left: 400px;
    top: -600px;
}

#circle text { 
    font-family: 'Exo', Arial; 
    font-size: 3px; 
    font-weight:normal; 
    letter-spacing: 2px; }

#circle svg { 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 2000px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 20s;
     -moz-animation-duration: 20s;
      -ms-animation-duration: 20s;
       -o-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(-360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(-360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}
.contact2{
    position: absolute;
    width: 500px;
    height: 108px;
    left: 1000px;
    top: 650px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.contact2 h4 {
    font-family: 'Exo', Arial; 
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.2em;
}